@import "tailwindcss";


@layer utilities {
    .animate-in {
        animation-fill-mode: both;
    }

    .slide-in-right {
        animation-name: slideInRight;
    }

    .slide-in-bottom {
        animation-name: slideInBottom;
    }

    .duration-200 {
        animation-duration: 200ms;
    }

    .duration-300 {
        animation-duration: 300ms;
    }

    .duration-700 {
        animation-duration: 700ms;
    }

    .delay-100 {
        animation-delay: 100ms;
    }

    .delay-200 {
        animation-delay: 200ms;
    }

    .delay-300 {
        animation-delay: 300ms;
    }


    .reveal {
        opacity: 0;
        transform: translateY(40px) scale(0.70);
        transition: opacity 0.7s ease, transform 0.7s ease;
        will-change: opacity, transform;
    }

    .reveal.visible {
        opacity: 1;
        transform: translateY(0) scale(1);
    }


    
}



@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(1rem);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}


@keyframes slideInBottom {
    from {
        opacity: 0;
        transform: translateY(1rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

